<div class="simplecheckout-block" id="simplecheckout_comment">
<div class="checkout">
<div class="bottom clearfix">
	  <textarea placeholder="Коментарий к заказу" id="comment" placeholder="{{ placeholder }}" data-reload-payment-form="true">{{ comment }}</textarea>
    </div>
    </div>
</div>