<div id="cart" class="cart clearfix">
					<div class="cart-icon pull-left" 	id="cart-total" >
						{{ text_items }}
						
						
					</div>
				  {% if products %}
					<div class="pull-right">
						<a href="{{ checkout }}" class="shop" title="Оформить">Оформить</a>
					</div>
				  {% endif %}
 </div>
 