  <!-- Footer begin -->
  <footer>
    <div class="container">
      <!-- Top row begin -->
      <div class="row clearfix">
        <!-- Block payment begin -->
        <div class="payment pull-left">
          <span>Мы принимаем:</span>
        </div>
        <!-- Block payment end -->
        <!-- Block links begin -->
        <div class="links pull-left">
          <ul class="clearfix">
            <li>
              <ul class="item">
                <li><a href="javascript:void(0)" title="О компании">О компании</a></li>
                <li><a href="javascript:void(0)" title="Доставка">Доставка</a></li>
                <li><a href="javascript:void(0)" title="Оплата">Оплата</a></li>
                <li><a href="javascript:void(0)" title="Возврат">Возврат</a></li>
                <li><a href="javascript:void(0)" title="Вакансии">Вакансии</a></li>
              </ul>
            </li>
            <li>
              <ul class="item">
                <li><a href="javascript:void(0)" title="Новинки">Новинки</a></li>
                <li><a href="javascript:void(0)" title="Новости">Новости</a></li>
              </ul>
            </li>
            <li>
              <ul class="item">
                <li><a href="javascript:void(0)" title="Спецпредложения">Спецпредложения</a></li>
                <li><a href="javascript:void(0)" title="Гарантии">Гарантии</a></li>
              </ul>
            </li>
            <li>
              <ul class="item">
                <li><a href="javascript:void(0)" title="Дилерам">Дилерам</a></li>
                <li><a href="javascript:void(0)" title="Бренды">Бренды</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- Block links begin -->
        <!-- Block contacts begin -->
        <div class="contacts pull-right">
          <ul>
            <li>г.Санкт-Петербург</li>
            <li>ул. Салова, д.57, к.1 лит.Н</li>
            <li>Тел.: <a href="tel:+7812313-19-64" title="phone">+7(812)313-19-64</a></li>
          </ul>
        </div>
        <!-- Block contacts end -->
      </div>
      <!-- Top row end -->
      <!-- Bottom row begin -->
      <div class="row clearfix">
        <div class="copyright pull-left">
          <p>© 2017, ООО «Акван»<br>Все права защищены.</p>
        </div>
        <!-- Block counter begin -->
        <div class="counters pull-left">
          <ul class="clearfix">
            <li><a href="javascript:void(0)" class="shoptop coun" title="shoptop"></a></li>
            <li><a href="javascript:void(0)" class="hot coun" title="hot"></a></li>
            <li><a href="javascript:void(0)" class="mailru coun" title="mailru"></a></li>
            <li><a href="javascript:void(0)" class="sp coun" title="sp"></a></li>
            <li><a href="javascript:void(0)" class="shoptop coun" title="shoptop"></a></li>
          </ul>
        </div>
        <!-- Block counter end -->
        <!-- Block social begin -->
        <div class="somap pull-right clearfix">
          <div class="map pull-left">
            <a href="javascript:void(0)" title="Мы на карте">Мы на карте</a>
          </div>
          <div class="social pull-right clearfix">
            <a href="javascript:void(0)" class="fb icon-s" title="fb"></a>
            <a href="javascript:void(0)" class="vk icon-s" title="vk"></a>
            <a href="javascript:void(0)" class="tw icon-s" title="tw"></a>
            <a href="javascript:void(0)" class="go icon-s" title="g+"></a>
          </div>
        </div>
        <!-- Block social end -->
      </div>
    </div>
  </footer>
  <!-- Footer end -->
  <!-- Modal begin -->
  <div style="display: none;">
    <div class="box-popup" id="popup">
      <div class="box-modal_close arcticmodal-close"></div>
      <div class="box-body">
        <span>Задать вопрос</span>
        <form class="clearfix">
          <input type="text" name="name" required placeholder="Имя*">
          <input type="tel" name="phone" required placeholder="Телефон*">
          <input type="email" name="email" required placeholder="Эл. почта*">
          <textarea name="vopross" required placeholder="Ваш вопрос*"></textarea>
          <button type="submit" name="zadat">Задать вопрос</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal end -->
</body></html>