<div id="search" class="search pull-left">
						<input type="search" name="search" value="{{ search }}" placeholder="Поиск по сайту"  />
						<input class="search-btn" type="submit" name="search-btn" value="">
					</div>