		<!-- Slideshow brand begin -->
		<div class="container">
			<div class="slideshow-brand-wrapper">
				<ul class="slideshow-brand">
					<li><a href="javascript:void(0)" class="subaru">Subaru</a></li>
					<li><a href="javascript:void(0)" class="chevrolet">Chevrolet</a></li>
					<li><a href="javascript:void(0)" class="citroen">Citroen</a></li>
					<li><a href="javascript:void(0)" class="kia">Kia</a></li>
					<li><a href="javascript:void(0)" class="renault">Renault</a></li>
					<li><a href="javascript:void(0)" class="opel">Opel</a></li>
			</div>
		</div>
		<!-- Slideshow brand end -->