		<!-- Slideshow brand begin -->
		<div class="container">
			<div class="slideshow-brand-wrapper">
				<ul class="slideshow-brand">
					<li><a href="javascript:void(0)" class="valtec">Valtec</a></li>
					<li><a href="javascript:void(0)" class="watts">Watts</a></li>
					<li><a href="javascript:void(0)" class="henco">Henco</a></li>
					<li><a href="javascript:void(0)" class="general_fittings">General Fittings</a></li>
					<li><a href="javascript:void(0)" class="cersanit">Cersanit</a></li>
					<li><a href="javascript:void(0)" class="bugatti">Bugatti</a></li>
					<li><a href="javascript:void(0)" class="pro_aqua">Pro Aqua</a></li>
					<li><a href="javascript:void(0)" class="iitop">Iitop</a></li>
			</div>
		</div>
		<!-- Slideshow brand end -->
